{% extends 'layouts/layout.html' %}
{% block content %}
{% load static %}

{%if messages%}
{%for message in messages%}
<div style="background-color:blue" > <p>{{message}}</p></div>
{%endfor%}
{%endif%}
{%for article in articles%}
<!--if articles.image.url|lenght >=1-->
<div class="art">
{%if article.image != 'null'%}
<div class="imagen">
    <img src="{{article.image.url}}"/>
</div> 
{%else%}
   <div class="imagen">
    <img src="{% static 'images/no-image.png'%}"/>
</div> 
{%endif%}
<div class="firstColumn">
<h1>{{article.title}}</h1>
<p>{{article.content|safe}}</p>
<br/>
<p class="autorfecha">{{article.user}}--{{article.created_at}}</p>
<div class="categories">
{%for category in article.categories.all %}
<div class= "categorybox">
<p>{{category.name}}</p>
</div>

{%endfor%}
</div>
</div>
</div>
{%endfor%}

{% endblock content %}