{% load static %}

<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}" />
    <meta charset="utf-8" />
    <title>Django-Blog |
        {% block title %}

        <!--Código de templates-->
        

        {% endblock %}

        layout
    </title>
</head>

<body>

    <header>

        <div id="logotipo">
            <img src="{% static 'images/icon.png'%}" />
            <h1>DjangoBlog</h1>
        </div>
    </header>
    <nav>
        <ul>
            <li>
                <a href="{% url 'inicio' %}"> Inicio </a>
            </li>
            {% if user.username%}
             <li>
                <a href="{% url 'logout' %}"> Cerrar Sesión </a>
            </li>
            {% else %}
             <li>
                <a href="{% url 'registro' %}"> Registro </a>
            </li>
             <li>
                <a href="{% url 'login' %}"> identifícate </a>
            </li>
            {% endif %}
             <li>
                <a class="subcategories" href="{% url 'lista_articulos' %}"> Categorías </a>
                <ul class="subcategory">
                     {%for category in categories%} 
                    <li>{{category.1}}</li>
                     {%endfor%}

                </ul>
            </li>
            {%for page in pages%}
            <li>
                <a href="{% url 'pagina' page.2 %}"> {{page.1}} </a>
            </li>

            {%endfor%}
          

        </ul>
       

    </nav>
    
    <div id="content">
        <p class="subtitle">Blog de opinión y rumores que se escuchan en la selva...</p>
        {% block content %}

        <!--Código de templates-->
        <br/>
        <strong>Contenido de bloque original!!!!por defecto</strong>

        {% endblock %}

    </div>
    <footer>
        <div class="patrocinadores">
        <br/>
        <ul>
           <li>
              <img src="{% static 'images/cocacola.png'%}" />
           </li>
           <li>
              <img src="{% static 'images/cod.png'%}" />
           </li>
           <li>
              <img src="{% static 'images/nike.png'%}" />
           </li>
           <li>
              <img src="{% static 'images/fanta.png'%}" />
           </li>
           <li>
              <img src="{% static 'images/sansilvestre.png'%}" />
           </li>



        </ul>


        </div>
        <p class="subtitle"> Todos los textos e imágenes tienen los derechos reservados en la UE , en EEUU un poco sólo y en China casi nada.
         El autor <br/> se reserva el derecho a matar, más si hay dinero de por medio, a cualquier forma de vida sin importar sexo o religión,
         edad,<br/> crédito en la tarjeta o si tiene bufanda del Madrid o del Barsa; Sobre todo si es chino. Todo esto está contemplado
         en el ámbito<br/> legal 334/39 del código legal en Albania </p>

        

        <p class="subtitle"> este es mi footer, hay muchos otros pero este es el mío...</p>
        <p>{%now "d/m/Y"%}</p>
    </footer>
</body>

</html>